@import "_smart-grid"
@import "fonts"
@import "libs"
@import "vars"
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
+reset()
a
	text-decoration: none
	color: inherit
	outline: none
.grid_debug
	/*+debug(rgba(0, 0, 0, 0.5), 1px solid #ff0)*/
.container
	+wrapper()


html
	margin-right: 0 !important
body
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: 'Open Sans', sans-serif
	overflow-x: hidden
	font-style: normal
	font-weight: 400
	opacity: 1
.banner
	height: 790px
	background: #162f66
	position: relative
	z-index: 2
	margin-top: -60px
	+sm1-block()
		height: 600px
	&__wrap
		height: 790px
		+sm1-block()
			height: 600px
	&__bg
		background: url(../img/design/banner_bg.png) bottom left no-repeat
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		+lgl-block()
			background-size: 100% 100%
		+sm1-block()
			background-size: cover
	&__children
		background: url(../img/design/children.png) bottom center no-repeat
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 1
		+lgl-block()
			background: url(../img/design/children.png) bottom right no-repeat
			background-position-x: 65%
		+sm-block()
			top: 10%
		+sm1-block()
			background: url(../img/design/children_xs.png) bottom right no-repeat
			top: 0
	&__content
		padding-top: 100px
		height: 100%
		position: relative
		z-index: 1
		.container
			height: 100%
	&__title
		font-size: $fz50
		font-family: $gerbera-bold
		padding-bottom: 40px
		color: #fff
		padding-top: 120px
		position: relative
		z-index: 1
		text-transform: uppercase
		transition: all .3s
		+md-block()
			padding-top: 150px
			font-size: $fz20
		+sm-block()
			font-size: $fz30
		+sm1-block()
			font-size: $fz30
			padding-top: 110px
		+xs-block()
			padding-top: 130px
			font-size: $fz20
	&__desc
		color: #fff
		font-size: $fz18
		padding-bottom: 70px
		position: relative
		z-index: 1
		+sm1-block()
			font-size: $fz14
			max-width: 170px
			padding-bottom: 50px
	&__stamp
		position: absolute
		top: 40%
		left: 35%
	.actionBtn
		position: relative
		z-index: 1
		+xs-block()
			width: 100%
			box-sizing: border-box
.content
	position: relative
	z-index: 3
.logo
	+sm1-block()
		width: 35px
.actionBtn
	background: $accent
	color: #fff
	text-transform: uppercase
	font-weight: 600
	border-radius: 30px
	text-align: center
	padding: 19px 30px 17px 30px
	display: inline-block
	cursor: pointer
	transition: all .6s
	border: none
	&:hover
		background: #52c89c
	&:focus,&:active
		background: #52c89c
		outline: none
	&__ts
		background: #fff
		border: 1px solid #bce1d3
		color: $accent
		height: 50px
		padding-left: 40px
		padding-right: 40px
		border-radius: 25px
		display: inline-block
		line-height: 50px
		cursor: pointer
		transition: all .6s
		text-transform: uppercase
		font-weight: 600
		box-sizing: border-box
		&:hover
			border-color: #69bc9d
	&__ts1
		background: transparent
		border: 1px solid rgba(255,255,255, .5)
		color: #fff
		height: 50px
		padding-left: 40px
		padding-right: 40px
		border-radius: 25px
		display: inline-block
		line-height: 50px
		cursor: pointer
		text-transform: uppercase
		font-weight: 600
		transition: all .6s
		&:focus,&:active
			outline: none
			background: rgba(27,59,127, .5)
	&__wrap
		padding-top: 50px
		text-align: center
	&__xs
		height: 40px
		font-size: $fz12
		padding: 12px 65px
		box-sizing: border-box
.sectionTitle
	color: #63727f
	font-size: $fz25
	font-family: $gerbera-bold
	text-transform: uppercase
	line-height: 1.2
	padding-bottom: 20px
	+sm1-block()
		font-size: $fz20
	&.wht
		color: #fff
.sectionDesc
	color: #4c5863
	&.wht
		color: #fff
.header
	padding-top: 30px
	position: absolute
	width: 100%
	z-index: 5
	top: 60px
	&__row
		display: flex
		align-items: center
		justify-content: space-between
	&__left
		display: flex
		align-items: center
		z-index: 2
		position: relative
		+sm-block()
			.time
				display: none
	&__right
		+sm1-block()
			position: relative
			z-index: 2
	&__phone
		color: #fff
		font-size: $fz30
		font-family: $gerbera-bold
		line-height: 1
		padding-bottom: 15px
		text-align: right
		cursor: default
		display: block
		+sm-block()
			padding-bottom: 5px
	&__txt
		font-size: $fz12
		color: #fff
		display: block
.menu
	&__icon
		width: 30px
		height: 22px
		cursor: pointer
		margin-left: 30px
		margin-right: 70px
		span
			display: block
			height: 2px
			background: #fff
			margin-bottom: 8px
			transition: all .6s
		&:hover
			span:nth-child(1)
				transform: translateY(-3px)
			span:nth-child(3)
				transform: translateY(3px)
		&.open
			span:nth-child(1)
			    transform: scaleX(.5)
			span:nth-child(2)
			    transform: scaleX(.75)
			span:nth-child(3)
				transform: scaleX(1)
.topMenu
	&__bg
		position: fixed
		background: rgba(8, 17,37, .4)
		top: 0
		left: 0
		width: 100%
		height: 100%
		display: none
	&__open
		position: absolute
		background: #234082
		width: 660px
		height: 990px
		top: 0
		z-index: 1
		margin-left: -80px
		padding-top: 200px
		box-sizing: border-box
		display: none
		+sm1-block()
			height: 570px
			padding-top: 100px
			margin-left: -20px
		ul
			padding-left: 180px
			display: none
			+sm1-block()
				padding-left: 50px
			li
				padding: 15px 0
				+sm1-block()
					padding: 10px 0
				a
					color: #a9c3db
					font-size: $fz24
					font-family: $gerbera-bold
					padding: 7px 0
					cursor: pointer
					transition: all .6s
					+sm1-block()
						font-size: $fz18
					&:hover
						color: #fff

.time
	width: 260px
	&__row
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 14px
	&__value
		color: #fff
		font-size: $fz12
		font-family: $gerbera-bold
		cursor: default
		line-height: 1
	&__line
		display: flex
		justify-content: space-between
		span
			display: block
			width: 35px
			background: #162f66
			height: 2px
			&.active
				background: #f26c4f
	&.sm
		display: none
		width: 100%
		padding-top: 30px
		+sm-block()
			display: block
		.time__line span
			width: 13%
.phone__sm
	display: none
	+sm1-block()
		display: block
.stampBg
	background: url(../img/design/stamp1.png) no-repeat
	padding-left: 60px
	background-position-y: 90%
	background-position-x: center
.tile
	background: #fff
	position: relative
	z-index: 1
	padding-left: 15px
	padding-right: 15px
	&__row
		+row-flex
	&__col
		width: 25%
		padding-top: 50px
		padding-bottom: 50px
		border-right: 1px solid #c3c8cc
		position: relative
		margin-left: 0
		margin-right: 0
		box-sizing: border-box
		+lgl-block()
			width: 33.3333%
			.sectionTitle
				text-align: center
				padding-bottom: 35px
			.sectionDesc
				text-align: center
		+sm-block()
			width: 100%
			border-right: 0
			border-bottom: 1px solid #c3c8cc
		&.stampBg
			+lgl-block()
				width: 100%
				background-position-y: bottom
				border-bottom: 1px solid #c3c8cc
				min-height: 230px
				border-right: none
				padding-left: 15px
				padding-right: 15px
		&.center
			text-align: center
			overflow: hidden
			cursor: pointer
			+sm-block()
				padding-top: 25px
				padding-bottom: 25px
			&:hover
				.tile__hover
					transform: scale(18)
					+sm-block()
						transform: scale(35)
				.tile__title
					color: #fff
				.tile__txt
					color: #fff
				.tile__txt1
					color: #fff
	&__colcontent
		position: relative
		z-index: 1
	&__hover
		background: #69bc9d
		width: 60px
		height: 60px
		position: absolute
		border-radius: 100%
		top: 40%
		left: -60px
		transition: all .6s
	&__title
		color: #63727f
		font-size: $fz24
		font-family: $gerbera-bold
		padding-bottom: 40px
		transition: all .6s
		+sm-block()
			padding-bottom: 15px
	&__txt
		color: #4c5863
		font-size: $fz16
		transition: all .6s
	&__txt1
		color: #63727f
		font-size: $fz18
		text-transform: uppercase
		padding-bottom: 20px
		padding-top: 15px
		font-family: $gerbera-bold
		transition: all .6s
		+sm-block()
			padding-top: 12px
			padding-bottom: 10px
	.actionBtn__ts
		margin-top: 50px
		+sm-block()
			margin-top: 25px
.about
	height: 970px
	background: url(../img/design/fanily_bg.jpg) bottom center no-repeat
	background-size: cover
	position: relative
	overflow: hidden
	+sm-block()
			height: 730px
	.sectionTitle
		+sm-block()
			font-size: 20px
	&__bg
		height: 970px
		background: rgba(35,64,130, .7)
		padding-top: 80px
		box-sizing: border-box
		+sm-block()
			height: 730px
	&__row
		+row-flex()
	&__col1
		+col()
		+col-8()
		+offset-left(4)
		+md-block()
			+col-12()
			+offset-left(0)
			text-align: center
		+sm-block()
			padding-bottom: 42%
	&__col2
		+col()
		+col-4()
		+offset-left(8)
		+md-block()
			+col-6()
			+offset-left(6)
		+sm-block()
			+col-12()
			+offset-left(0)
			text-align: center
	&__na
		font-size: 40px
		color: #fff
		font-family: $gerbera-bold
		padding-top: 200px
		padding-bottom: 10px
		+sm-block()
			padding-top: 0
	&__nat
		font-size: 18px
		color: #fff
		padding-bottom: 35px
		+sm-block()
			padding-bottom: 15px
	&__line
		width: 70px
		border-bottom: 1px solid #fff
		+sm-block()
			margin: 0 auto
	p
		padding-top: 35px
		color: #fff
		+sm-block()
			padding-top: 15px
.st3
	height: 700px
	margin-bottom: 0
	padding-bottom: 0
	display: flex
	align-items: center
	justify-content: center
	padding-top: 50px
	transition: all 1s
	+md-block()
		height: 980px
	+sm-block()
		height: 980px
	&.blue
		background: #498bc6
		+md-block()
			background: #fff
	&>div
		width: 100%
	&__row
		+row-flex()
	&__item
		+col()
		+col-4()
		text-align: center
		+sm-block()
			+col-12()
			padding-bottom: 25px
	&__title
		color: #63727f
		font-size: $fz40
		text-transform: uppercase
		padding-bottom: 90px
		text-align: center
		font-family: $gerbera-bold
		+sm-block()
			font-size: 20px
			padding-bottom: 30px
	&__name
		color: #4c5863
		font-size: $fz20
		font-family: $gerbera-bold
		padding-bottom: 20px
		+sm-block()
			font-size: $fz16
			padding-bottom: 15px
	&__img
		padding-bottom: 20px
		height: 100px
		align-items: flex-end
		display: flex
		justify-content: center
		+sm1-block()
			height: auto
	&__txt
		color: #4c5863
	.actionBtn__wrap
		+sm-block()
			padding-top: 0
.room
	&__arrow
		position: absolute
		width: 350px
		top: 140px
		right: 30px
		cursor: pointer
		transition: all .2s
		animation: arrowMy 2s linear infinite;
		&:hover
			transform: scale(1.05)
		+lgl1-block()
			width: 240px
			top: 230px
		+md-block()
			width: 200px
			top: 260px
			right: 0
		+sm1-block()
			top: 290px
		+xs-block()
			top: 280px
	&__backarr
		position: absolute
		left: 0
		top: 210px
		width: 350px
		cursor: pointer
		animation: arrowMy 2s linear infinite;
		&:hover
			transform: scale(1.05)
		+lgl1-block()
			width: 240px
			top: 210px
		+md-block()
			width: 200px
			top: 260px
			right: 0
		+sm1-block()
			width: 150px
			top: 90px
			left: 20px
	&__back
		display: none
		position: absolute
		top: 175px
		left: 30px
		text-transform: uppercase
		font-weight: 600
		cursor: pointer
		z-index: 1
		+lg-block()
			top: 250px
		+sm1-block()
			top: 20px
		i
			padding-right: 10px
	&__scheme
		position: absolute
		width: 200px
		top: 350px
		right: 260px
		+lgl1-block()
			right: auto
			left: 30px
		+lg-block()
		+md-block()
			width: 150px
		+sm-block()
			top: 270px
			width: 100px
	&__rules
		position: absolute
		width: 200px
		top: 350px
		right: 30px
		+lg-block()
		+md-block()
			width: 150px
		+sm-block()
			top: 460px
			width: 100px
		+sm1-block()
			top: 360px
			right: 10px
	&__table
		position: absolute
		right: 0
		bottom: 10px
		width: 460px
		z-index: 1
		+lg-block()
		+sm1-block()
			width: 230px
	&__admin
		position: absolute
		width: 130px
		bottom: 200px
		right: 115px
		+sm1-block()
			bottom: 100px
			width: 70px
	&__bucket
		position: absolute
		width: 90px
		bottom: 10px
		right: 500px
		+lg-block()
			z-index: 2
			right: 80px
		+sm1-block()
			width: 40px
			right: 60px
	&__sofa
		position: absolute
		width: 590px
		left: 20px
		bottom: 10px
		+lg-block()
			left: -300px
		+sm1-block()
			width: 280px
			left: -100px
	&__parents
		position: absolute
		width: 240px
		left: 140px
		bottom: 10px
		+lg-block()
			left: 0
		+sm1-block()
			width: 120px
	&__toy
		position: absolute
		width: 110px
		left: 100px
		bottom: 10px
		+lg-block()
			display: none !important
	&__floor
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 10px
		background: #79858e
		z-index: 2
	&__fire
		position: absolute
		width: 40px
		bottom: 210px
		right: 360px
		+lg-block()
			right: 140px
		+sm1-block()
			width: 20px
			bottom: 110px
			right: 100px
	&__chair1
		position: absolute
		width: 130px
		bottom: 10px
		left: 250px
		+lgl-block()
			display: none !important
	&__chair2
		position: absolute
		width: 130px
		bottom: 10px
		left: 400px
		+lgl-block()
			left: 0
		+sm-block()
			display: none !important
	&__boy
		position: absolute
		width: 200px
		left: 0
		right: 0
		margin: auto
		bottom: 10px
		+sm-block()
			left: auto
			right: 150px
		+sm1-block()
			width: 100px
	&__boyperson
		position: absolute
		width: 150px
		right: 0
		bottom: 0
	&__boystand
		position: absolute
		width: 70px
		left: 0
		bottom: 0
		+sm1-block()
			width: 40px
	&__fan
		position: absolute
		width: 235px
		left: 0
		top: 10px
		+lg-block()
			display: block !important
		+sm-block()
			display: block !important
			top: 10px
			width: 200px
			left: -50px
	&__medical
		position: absolute
		width: 150px
		right: 170px
		top: 370px
		+lg-block()
			right: 50px
			top: 350px
		+sm-block()
			width: 70px
		+sm1-block()
			left: 140px
			width: 60px
			top: 305px
		+xs-block()
			top: 305px
			left: 140px
	&__medicaltitle
		color: #63727f
		font-size: $fz40
		font-family: $gerbera-bold
		+sm-block()
			font-size: 15px
	&__medicaltxt
		color: #63727f
		font-size: $fz12
		font-weight: 700
		text-transform: uppercase
		+sm-block()
			font-size: 8px
	&__mom
		position: absolute
		width: 205px
		bottom: 10px
		right: 350px
		+lgl-block()
			right: 0
		+sm-block()
			right: -80px
		+sm1-block()
			width: 100px
			right: 0
	&__momperson
		position: absolute
		width: 150px
		bottom: -10px
		left: 0
		z-index: 1
	&__momchair
		position: absolute
		width: 140px
		bottom: 0
		right: 0
		+sm1-block()
			width: 80px
	&__boxtoy
		position: absolute
		width: 140px
		bottom: 10px
		right: 80px
		+lgl-block()
			display: none !important
	&__temp
		position: absolute
		width: 120px
		left: 200px
		top: 350px
		+lg-block()
			left: 50px
		+sm-block()
			width: 60px
			left: 60px
		+sm1-block()
			width: 50px
			top: 305px
			left: 80px
		+xs-block()
			top: 305px
	&__snow
		position: absolute
		bottom: 10px
		left: 0
		width: 100%
		z-index: 2
	&__snowife
		position: absolute
		bottom: 0
		left: 0
		width: 100%
	&__point
		$root: &;
		position: absolute
		width: 16px
		height: 16px
		&__btn
			position: absolute
			width: 16px
			height: 16px
			background: #69bb9d
			border-radius: 100%
			border: 5px solid #fff
			cursor: pointer
		&__inner
			display: none
			position: absolute
			background: #fff
			color: #555
			top: -135px;
			z-index: 1000
			left: 40px
			width: 400px
			height: 300px
			text-align: left
			border-radius: 10px
			&--left
				left: -440px
				&:after
					border-left: 7px solid #fff
					border-top: 7px solid transparent
					border-bottom: 7px solid transparent
					content: ''
					display: block
					top: 150px
					right: 0
					margin-right: -7px
					position: absolute
			&:before
				border-right: 7px solid rgb(255,255,255)
				border-top: 7px solid transparent
				border-bottom: 7px solid transparent
				content: ''
				display: block
				top: 45%
				margin-left: -7px
				position: absolute
			h3
				margin: 20px 30px 10px
				text-transform: uppercase
				font-weight: bold
				font-size: 20px
				margin-bottom: 10px
			p
				margin: 0 30px 10px
			&__btn
				display: block
				width: 150px
				margin: 20px 30px 10px
				padding: 10px 20px
				text-align: center
				color: #769fe2
				border: 1px solid #769fe2
				border-radius: 30px
	&__botle
		position: absolute
		width: 20px
		bottom: 10px
		right: 300px
		+lgl-block()
			display: none !important
.sm-hide
	+sm-block()
		display: none
.point1
	left: 420px
	bottom: 200px
	+lg-block()
		left: 230px
		bottom: 180px
	+sm1-block()
		bottom: 150px
		left: 100px
.point2
	right: 520px
	bottom: 60px
	+lg-block()
		right: 140px
		z-index: 3
	+sm1-block()
		right: 90px
		bottom: 30px
.point3
	top: 360px
	right: 435px
	+lgl1-block()
		left: 40px
	+lg-block()
		left: 40px
	+md-block()
		left: 19px
		top: 343px
	+sm-block()
		right: 400px
		top: 250px
	+xs-block()
		right: 15%
		top: 260px
.point4
	top: 360px
	right: 195px
	+lgl1-block()
		top: 345px
		right: 220px
	+lg-block()
		top: 345px
		right: 220px
	+md-block()
		top: 345px
		right: 175px
	+sm-block()
		top: 445px
		right: 125px
	+sm1-block()
		top: 350px
		right: 105px
.point5
	right: 380px
	bottom: 250px
	+lg-block()
		right: 160px
	+sm-block()
		bottom: 140px
		right: 110px
.point6
	top: 350px
	left: 290px
	+lg-block()
		left: 40px
	+sm-block()
		left: 50px
		top: 350px
	+sm1-block()
		left: 70px
		top: 300px
.point7
	right: 470px
	bottom: 180px
	z-index: 3
	+lgl-block()
		right: 120px
	+sm-block()
		right: 50px
	+sm1-block()
		bottom: 120px
.point8
	right: 280px
	bottom: 50px
	+lg-block()
		display: none
.point9
	right: 285px
	top: 380px
	+lgl-block()
		right: 270px
		top: 360px
	+lg-block()
		right: 160px
		top: 360px
	+md-block()
		right: 160px
		top: 340px
	+sm-block()
		top: 340px
		right: 110px
	+sm1-block()
		top: 300px
		left: 140px
.sect4
	position: relative
	margin-top: -1px
	&__duck
		position: absolute
		bottom: 0
		width: 90px
		left: 0
		right: 0
		margin: 0 auto
		z-index: 1
		+sm1-block()
			width: 50px
		img
			width: 100%
	&__doorWrap
		position: absolute
		width: 40px
		top: 0
		right: 0
		z-index: 1
		height: 100%
	&__door
		position: absolute
		left: -50px
		height: 650px
		bottom: 0
		z-index: 4
		+xs-block()
			display: none
	&__wrap
		height: 100%
	&__part1
		height: 980px
		background: #fff
		color: #fff
		text-align: center
		padding-top: 90px
		box-sizing: border-box
		position: relative
		overflow: hidden
		+sm1-block()
			height: 570px
			padding-top: 30px
		&.blue
			background: #498bc6
	&__title
		font-size: $fz30
		font-family: $gerbera-bold
		text-transform: uppercase
		padding-bottom: 30px
		+sm1-block()
			display: none
	&__txt
		font-size: $fz18
		padding-bottom: 50px
		+sm1-block()
			display: none
	&__title1
		font-size: $fz24
		padding-bottom: 20px
		+sm-block()
			font-size: $fz16
	&__note
		font-size: $fz12
		font-family: $gerbera-bold
		text-transform: uppercase
		padding-bottom: 40px
		+sm1-block()
			padding-bottom: 10px
	&__item
		display: inline-block
		padding: 0 35px
		+md-block()
			padding: 0 10px
	&__block
		text-align: center
	&__number
		font-size: $fz50
		font-family: $gerbera-bold
		padding-bottom: 15px
		+md-block()
			font-size: $fz30
			padding-bottom: 0
		+sm-block()
			font-size: $fz15
	&__t
		font-size: $fz12
		font-family: $gerbera-bold
		text-transform: uppercase
		+sm-block()

		+xs-block()
			font-size: $fz10

	&__part2
		background: url(../img/design/pattern.jpg)
		height: 980px
		color: #63727f
		text-align: center
		padding-top: 90px
		position: relative
		box-sizing: border-box
		position: relative
		+sm1-block()
			height: 570px
			padding-top: 30px
		.sect4__content
			position: relative
		+sm-block()
			overflow: hidden
	&__part3
		background: url(../img/design/pattern.jpg)
		height: 980px
		color: #63727f
		text-align: center
		padding-top: 90px
		position: relative
		box-sizing: border-box
		position: relative
		.sect4__content
			position: relative
		+sm1-block()
			height: 570px
			padding-top: 30px
	&__counter
		font-size: $fz50
		font-family: $gerbera-bold
		padding-bottom: 50px
		+sm-block()
			font-size: 20px
		+xs-block()
			font-size: 20px
			padding-right: 10px
			text-align: right
		&__header
			+xs-block()
				font-size: 20px
				text-align: right
	.actionBtn__wrap
		+sm1-block()
			padding-top: 30px
		+xs-block()
			padding-left: 15px
			padding-right: 15px
		.actionBtn
			+xs-block()
				display: block

@keyframes crystRotate
	0%
		transform: rotate(0deg);
	50%
		transform: rotate(-10deg);
	100%
		transform: rotate(0deg);


@keyframes fadeslideInLeft
	from
		opacity: 0
		transform: translate3d(100%, 0, 0)
	to
		opacity: 1
		transform: translate3d(0, 0, 0)

.fadeslideInLeft
	animation-name: fadeslideInLeft

@keyframes fadeslideInRight
	from
		opacity: 0
		transform: translate3d(-100%, 0, 0)
	to
		opacity: 1
		transform: translate3d(0, 0, 0)

.fadeslideInRight
	animation-name: fadeslideInRight

@keyframes fadeslideInUp
	from
		opacity: 0
		transform: translate3d(0, 100%, 0)
	to
		opacity: 1
		transform: translate3d(0, 0, 0)

.fadeslideInUp
	animation-name: fadeslideInUp

@keyframes hingleInLeft
	0%
		opacity: 0
		transform: translate3d(100%, 0, 0) rotate(10deg)
	70%
		opacity: 1
		transform: translate3d(10%, 0, 0) rotate(-10deg)
	100%
		opacity: 1
		transform: translate3d(0, 0, 0) rotate(0)


.hingleInLeft
	animation-name: hingleInLeft

@keyframes fadePulse
	from
		opacity: 0
		transform: scale(1)
	10%
		opacity: 1
	50%
		transform: scale(1.4)


	to
		transform: scale(1)


.fadePulse
	animation-name: fadePulse

.room__bg
	position: absolute
	bottom: 0
	width: 100%
	left: 0
.sect5
	padding-top: 90px
	padding-bottom: 30px
	+sm1-block()
		padding-top: 30px
	&__row
		+row-flex()
	&__col
		+col()
		+col-6()
		+md-block()
			+col-12()
	&__title
		color: #63727f
		font-size: $fz40
		text-transform: uppercase
		font-family: $gerbera-bold
		padding-bottom: 50px
		+md-block()
			padding-bottom: 25px
		+sm1-block()
			font-size: $fz20
			text-align: center
	&__txt
		font-size: $fz12
		color: #63727f
		text-transform: uppercase
		font-weight: 600
		+md-block()
			padding-bottom: 45px
		+sm1-block()
			text-align: center
			padding-bottom: 25px
.range
	padding-bottom: 20px
	&__row
		display: flex
		align-items: flex-end
		justify-content: space-between
		padding-bottom: 5px
		font-weight: 700
		color: #4c5863
		text-transform: uppercase
	&__title
		font-family: $gerbera-bold
	&__label
		img
			padding-left: 10px
			vertical-align: sub
	&__line
		background: #ced5dc
		width: 100%
		border-radius: 5px
		height: 10px
		text-align: right
	&__value
		height: 100%
		background: #69bc9d
		border-radius: 5px
		float: right
		width: 0
		display: none
		&.animate
			display: block
			animation: expandWidth 1s linear 1;
.sect7
	padding: 85px 0
	+sm-block()
		padding: 70px 50px
	+sm1-block()
		padding: 30px 0
		padding-bottom: 10px
	&__row
		+row-flex()
	&__col
		+col()
		+col-6()
		+sm-block()
			+col-12()
	&__title
		color: #63727f
		font-size: $fz40
		text-transform: uppercase
		font-family: $gerbera-bold
		padding-bottom: 50px
		+sm-block()
			font-size: $fz30
		+sm1-block()
			font-size: $fz20
			padding-bottom: 25px
			font-size: $fz14
	&__txt
		font-size: $fz12
		color: #63727f
		text-transform: uppercase
		font-weight: 600
		+sm1-block()
			font-size: $fz14
.qsitem
	padding-bottom: 40px
	+sm-block()
		padding-bottom: 30px
	+sm1-block()
		padding-bottom: 25px
	&__title
		position: relative
		color: #4c5863
		font-weight: 700
		cursor: pointer
		+sm-block()
			padding-left: 30px
	&__icon
		position: absolute
		left: -30px
		+sm-block()
			left: 0
	&__txt
		padding-top: 20px
		padding-bottom: 10px
		color: #4c5863
		display: none
		+sm1-block()
			padding-left: 30px
.price
	background: rgba(206, 213, 220, .2)
	padding: 60px 0
	text-align: center
	+sm1-block()
		padding: 40px 0
	.sectionTitle
		+sm1-block()
			font-size: 20px
			padding-bottom: 0
	.actionBtn__wrap
		padding-top: 20px
	.actionBtn
		+sm1-block()
			display: block
.feedback
	background: #162f66
	padding-top: 60px
	padding-bottom: 55px
	+sm-block()
		padding-top: 50px
	+sm1-block()
		padding: 30px 0
	.actionBtn__ts1
		+sm1-block()
			display: block
	&__title
		color: #fff
		text-transform: uppercase
		font-size: $fz30
		+col()
		+col-9()
		+offset-left(3)
		font-family: $gerbera-bold
		padding-bottom: 40px
		line-height: 1
		+sm1-block()
			font-size: $fz20
			+col-12()
			+offset-left(0)
			padding-bottom: 25px
	&__item
		padding-bottom: 30px
		display: block
		+sm1-block()
			padding-bottom: 25px
	&__item.hide
		display: none
	&__row
		+row-flex()
	&__col1
		+col()
		+col-3()
		+sm1-block()
			+col-12()
	&__col2
		+col()
		+col-9()
		+sm1-block()
			+col-12()
			margin-top: 25px
	&__person
		display: flex
		justify-content: flex-end
		height: 100%
		align-items: center
		+md-block()
			flex-direction: column-reverse
			align-items: flex-end
		+sm1-block()
			flex-direction: row-reverse
	&__name
		font-weight: 700
		color: #fff
		text-transform: uppercase
		padding-bottom: 15px
		text-align: right
		cursor: default
		+sm1-block()
			padding-bottom: 10px
	.social
		li
			float: right
			padding: 0 8px
			+sm1-block()
				float: left
			&:first-child
				padding-right: 0
	&__avatar
		margin-left: 20px
		width: 80px
		height: 80px
		border-radius: 100%
		box-shadow: inset 0px 0px 0px 5px #a9c3db
		text-align: center
		padding-top: 5px
		box-sizing: border-box
		+md-block()
			margin-bottom: 15px
		+sm1-block()
			width: 40px
			height: 40px
			margin-right: 10px
		img
			width: 70px
			+sm1-block()
				width: 30px
	&__say
		background: #fff
		border-radius: 10px
		position: relative
		padding: 25px 60px 25px 85px
		position: relative
		+sm1-block()
			padding: 25px 20px
		&:after
			content: ''
			position: absolute
			width: 0
			height: 0
			top: 0
			bottom: 0
			margin: auto
			border: 14px solid transparent
			border-right-color: #fff
			left: -28px
			+sm1-block()
				bottom: auto
				top: -28px
				left: 25px
				border-bottom-color: #fff
				border-right-color: transparent
	&__quote
		position: absolute
		top: 30px
		left: 25px
		+sm1-block()
			display: none
	&__txt
		color: #4c5863
	.actionBtn__wrap
		padding-top: 10px
.photo
	padding-top: 40px
	padding-bottom: 30px
	&__gallery
		+row-flex()
		padding-top: 30px
	&__cm
		+col()
		+col-2()
		margin-left: 32px
		margin-right: 1px
		&:last-of-type
			margin-left: 17px
			margin-right: 0
	&__c4
		+col()
		+col-6()
	&__c1
		+col()
		+col-4()
		+md-block()
			+col-6()
			img
				width: 100%
		+sm1-block()
			+col-12()
	&__c2
		+col()
		+col-8()
		+md-block()
			+col-6()
		+sm1-block()
			+col-12()
			margin-top: 30px
	&__row
		+row-flex()
	&__c3
		+col()
		+col-3()
		margin-bottom: 30px
		+md-block()
			+col-6()
			img
				width: 100%
		img
			display: block
	&__c4
		+col()
		+col-3()
		+sm1-block()
			+col-6()
			margin-bottom: 30px
		&>img
			width: 100%
	.md-hide
		+md-block()
			display: none
	.md-show
		display: none
		+md-block()
			+col()
			+col-12()
			display: block
	&__link
		background: #69bc9d
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		height: 100%
		flex-direction: column
		cursor: pointer
	&__count
		font-size: $fz30
		font-family: $gerbera-bold
		padding-bottom: 20px
		line-height: 1
		img
			padding-left: 15px
			display: inline
			vertical-align: middle
			padding-bottom: 5px
	&__t
		font-size: $fz12
		line-height: 1
	.sectionTitle
		+sm1-block()
			font-size: $fz20
			padding-bottom: 0
.map
	height: 670px
	background: url(../img/design/map_bg.jpg) center center no-repeat
	background-size: cover
	position: relative
	+sm1-block()
		height: 500px
	&__placemark
		position: absolute
		left: 0
		right: 0
		width: 310px
		margin: auto
		color: #63727f
		font-size: $fz19
		font-family: $gerbera-bold
		text-transform: uppercase
		top: 45%
		padding-left: 60px
		+sm1-block()
			width: auto
			padding: 0 10px
		img
			padding-bottom: 10px
			display: block
			margin: auto
.foot
	&__block
		background: #162f66
		height: 140px
		+sm1-block()
			height: auto
		.foot__row
			height: 140px
			+sm1-block()
				height: auto
				display: block
				padding: 25px 0
				text-align: center
	&__left
		display: flex
		align-items: flex-end
		justify-content: start
		color: #fff
		+md-block()
			align-items: flex-start
		+sm1-block()
			display: block
			text-align: center
	&__right
		display: flex
		align-items: center
		justify-content: start
		color: #fff
		+md-block()
			display: block
	&__phone
		font-size: $fz24
		font-family: gerberabold,sans-serif
		line-height: 1
		text-align: right
		display: block
		padding-right: 35px
		+md-block()
			padding-right: 0
			text-align: center
			padding-bottom: 15px
	&__row
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		padding-right: 50px
		text-transform: uppercase
		font-size: $fz20
		font-family: $gerbera-bold
		+md-block()
			padding-right: 40px
		+sm-block()
			padding-right: 10px
		+sm1-block()
			 padding-bottom: 10px
	&__time
		padding-right: 60px
		font-size: $fz12
		font-family: $gerbera-bold
		text-transform: uppercase
		+lgl-block()
			padding-right: 30px
		+sm1-block()
			padding-right: 0
		span
			font-family: 'Open Sans', sans-serif
			font-size: $fz16
			padding-left: 10px
	&__timewrap
		display: flex
		align-items: center
		+md-block()
			display: block
		+sm1-block()
			padding-bottom: 20px
	&__copyright
		background: #3a4866
		font-size: $fz12
		color: rgba(255,255,255,.7)
		cursor: default
		.foot__row
			height: 50px
	.actionBtn__xs
		+sm-block()
			padding: 12px 45px
.jarallax
    position: relative
    z-index: 0
canvas
	display: block
	position: absolute
#ice1
	animation: crystRotate 15s linear infinite
	width: 250px
	position: absolute; top: 30%; left: 40%; z-index: 4;
	+md-block()
		left: 30%;
		width: 170px
	+sm-block()
		width: 100px
		left: 45%
		top: 39%
	+xs-block()
		width: 70px
		top: 45%
#ice2
	position: absolute; top: 63%; left: 48%; z-index: 4;
	animation: crystRotate 12s linear infinite
	+md-block()
		left: 29%
		width: 30px
#ice1.enlarge
	transform: scale(1.2);
	transition-duration: 0.5s;
	transition-timing-function: linear;

#ice1.fade-in
	transform: rotate(10deg) scale(1.2);
	transition-duration: 2s;
	animation-delay: 2s;
	transition-timing-function: ease-in;
#ice2.fade-in
	top: 65%; left: 50%;
	transform: rotate(-5deg) scale(1.2);
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	+md-block()
		width: 40px
	+sm-block()
		width: 40px
.ice1
	position: absolute
	top: 35%
	left: 30%
	z-index: 4
	animation: rotate 8s infinite
	animation-timing-function: linear
	+md-block()
		left: 5%
	+sm-block()
		width: 100px
		left: 45%
		top: 39%
.ice2
	position: absolute
	top: 65%
	left: 50%
	+md-block()
		left: 50%
	+sm-block()
		width: 40px
		top: 55%
		left: 55%
.ice3
	position: absolute
	top: 73%
	left: 30%
	animation: crystRotate 24s linear infinite
	+md-block()
		width: 30px
		top: 20px
		left: 20%
	+sm-block()
		display: none
		width: 60px
		top: 45%
		left: 40%
.ice4
	position: absolute
	top: 30%
	left: 53%
	animation: rotaterevers 8s infinite
	animation-timing-function: linear
	+md-block()
		left: 35%
	+sm-block()
		display: none

+keyframes(arrowMy)
	50%
		transform: translateX(20px)
	75%
		transform: translateX(0)
+keyframes(rotate)
	0%
		transform: rotate(0)
	50%
		transform: rotate(2deg)
	100%
		transform: rotate(0)
+keyframes(rotaterevers)
	0%
		transform: rotate(0)
	50%
		transform: rotate(-2deg)
	100%
		transform: rotate(0)
+keyframes(expandWidth)
	0%
		width: 0

.sect6
	padding-top: 65px
	&__desc
		font-size: $fz12
		font-weight: 700
		text-align: center
		line-height: 1
		padding-bottom: 35px
		color: #63727f
		text-transform: uppercase
	.sectionTitle
		text-align: center
		padding-bottom: 50px
.slide
	padding: 40px
	padding-top: 25px
	position: relative
	+sm1-block()
		padding: 40px 10px
	&.winter
		background: #498bc6
		border-radius: 4px 0 0 4px
	&.spring
		background: #69bc9d
	&.summer
		background: #e06d5c
	&.autumn
		background: #eec77e
	&__title
		font-size: $fz18
		font-family: $gerbera-bold
		color: #fff
		padding-bottom: 15px
		text-align: center
		text-transform: uppercase
	&__desc
		color: #fff
		padding-bottom: 35px
		text-align: center
	&__row
		+row-flex()
	&__block
		+col()
		+col-4()
		position: relative
		background: #fff
		border-radius: 4px
		padding: 30px
		height: 270px
		+lg-block()
			+col-12()
			margin-bottom: 30px
		ul
			li
				color: #4c5863
				padding-bottom: 10px
				position: relative
				padding-left: 10px
				+md-block()
					font-size: $fz14
				&:after
					content: ''
					position: absolute
					width: 4px
					height: 4px
					border-radius: 100%
					background: #4c5863
					left: 0
					top: 10px
	&__title1
		color: #63727f
		font-size: $fz24
		font-family: $gerbera-bold
		padding-bottom: 20px
		+md-block()
			font-size: $fz16
	&__next
		position: absolute
		right: -2px
		top: 260px
		z-index: 10
		cursor: pointer
		animation: arrowMy 2s linear infinite;
		&.sm
			display: none
			right: 0
			left: 0
			top: auto
			font-size: $fz14
			color: #fff
			font-family: $gerbera-bold
			text-transform: uppercase
			align-items: center
			justify-content: center
			bottom: 25px
			img
				display: inline
				padding-left: 15px
				width: 25px
		+lg-block()
			display: none !important
			img
				display: none
			&.sm
				display: flex !important
	&__arrow
		position: absolute
		right: -22px
		top: 120px
		+sm-block()
			right: 0
			left: 0
			margin: auto
			bottom: -23px
			top: auto
			transform: rotate(90deg)
	&__bg
		position: absolute
		bottom: -1px
		left: -1px
		overflow: hidden
		transition: all .6s
		img
			transform: translateY(100%)
			transition: all .3s
	&__note
		padding-top: 5px
		font-size: $fz12
		color: #798793
	&__qs
		position: relative
		display: inline-block
		padding-left: 8px
		z-index: 5
		vertical-align: middle
	&__label
		display: block
		margin-top: -4px
		width: 20px
		height: 20px
		background: #dcdfe4
		color: #63727f
		font-size: $fz12
		line-height: 1
		border-radius: 100%
		box-sizing: border-box
		text-align: center
		cursor: pointer
		transition: all .6s
		line-height: 20px
		&:hover
			background: #162f66
			color: #fff
			&+.slide__hint
				display: block
	&__hint
		position: absolute
		background: #162f66
		border-radius: 5px
		color: #fff
		padding: 7px
		width: 340px
		cursor: default
		top: -10px
		left: 0
		transform: translate3d(-45%,-100%, 0)
		box-sizing: border-box
		text-align: center
		cursor: default
		display: none
		&:after
			content: ''
			position: absolute
			bottom: -14px
			width: 0
			height: 0
			border: 7px solid transparent
			border-top-color: #162f66
			left: 0
			right: 0
			margin: auto
.slick-current
	.slide__bg img
		transform: translateY(0)
.slider
	opacity: 0
.call
	padding-top: 80px
	position: relative
	margin-top: 120px
	+sm-block()
		padding-top: 0
		margin-top: 0
	&__block
		background: rgba(206,213,220, .2)
		height: 200px
		+sm-block()
			height: auto
			position: relative
		+sm1-block()
			text-align: center
	&__row
		display: flex
		align-items: center
		justify-content: space-between
		height: 200px
		+sm-block()
			display: block
			height: auto
			padding: 40px 0
	.sectionDesc
		+sm-block()
			padding-bottom: 40px
		+sm1-block()
			font-size: $fz14
			padding-bottom: 25px
	.actionBtn
		+xs-block()
			padding: 19px 10px 17px 10px
			display: block
	.sectionTitle
		text-align: left
		padding-bottom: 30px
		+sm-block()
			padding-bottom: 20px
		+sm1-block()
			text-align: center
			font-size: $fz20
			padding-bottom: 10px
	&__stamp
		position: absolute
		left: 0
		right: 0
		top: 0
		margin: auto
		+sm-block()
			left: auto
			right: 30px
			bottom: 0
		+sm1-block()
			width: 80px
			top: auto
			right: 0
			left: 0
			bottom: -20px
#callForm
	max-width: 780px
	background: #fff
	padding: 60px 10px 70px 10px
	margin: 0 auto
	position: relative
	box-sizing: border-box
	border-radius: 4px
.modal
	form
		max-width: 380px
		margin: 0 auto
	&__title
		color: #63727f
		font-size: $fz30
		text-transform: uppercase
		text-align: center
		padding-bottom: 45px
		font-family: $gerbera-bold
	&__input
		border: 1px solid #ced5dc
		height: 50px
		margin-bottom: 30px
		padding: 0 20px
		width: 100%
		border-radius: 25px
		box-sizing: border-box
		&:focus, &:active
			outline: none
	.actionBtn
		width: 100%