.l1 {
	animation-name: path1;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}
	
.l2 {
	animation-name: path2;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-iteration-count: infinite;

}

.c1,.c2,.c3,.c4,.c5,.c6,.c7 {
	animation-name: circle1;
	animation-duration: 6s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.f1 {
	animation-name: factory;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-delay: 4s;
	opacity: 0;
	animation-iteration-count: infinite;
}

.f2 {
	animation-name: factory;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-delay: 6s;
	opacity: 0;
	animation-iteration-count: infinite;
}

.f3 {
	animation-name: factory;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-delay: 8s;
	opacity: 0;
	animation-iteration-count: infinite;
}

#dr {
	
	font-size: 10px
}

#dr:hover{
	font-size: 100px
}
.dranim {
	animation-name: dr;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes dr {		
	100% {
		font-size: 100px !important
		
	}		
}

@keyframes circle1 {		
	100% {
		r: 0;
		
	}		
}

@keyframes factory {
	0% {
		cx: 72;
		cy: 21;				
	}
	
	5% {
		opacity: 1;
	}
	
	99% {
		cx: 39;
		cy: 9;
		opacity: 1;			
	}

	100% {
		opacity: 0;	
	}
}

@keyframes path1 {
	
	0%  {
		d: path('M44.1,26c0,0-3,7-1,15c-1,15,2,28,20,35c11,4,16,7,16,7s7-26-6-53c-5.3-10.9-10-19-20-24c-6.9-3.4-9,9-9,9V26z')
	
	}
		
	50% {
		d: path('M44.1,23.1c0,0-3,7-1,15c-1,15,2,24,20,31c11,4,16,7,16,7s7-28-6-55c-5.3-10.9-10.1-19-20-18c-7.1,1-9,9-9,9 V23.1z')
	}

	100% {
		d: path('M44.1,26c0,0-3,7-1,15c-1,15,2,28,20,35c11,4,16,7,16,7s7-26-6-53c-5.3-10.9-10-19-20-24c-6.9-3.4-9,9-9,9V26z')
	}
	/*d: path('M46.2,26c0,0-3,7-1,15c-1,15,2,28,20,35c11,4,13.9,4,13.9,4s14-31,1-58c-4-8-9-17-25-18c-7,0-8.9,11-8.9,11V26z')*/
		
}

@keyframes path2 {
	
	0%  {
		d: path('M37.9,26c0,0,3,7,1,15c1,15-2,28-20,35c-11,4-16,7-16,7s-7-26,6-53c5.3-10.9,10-19,20-24c6.9-3.4,9,9,9,9V26z')
	
	}
		
	50% {
		d: path('M37.9,23.1c0,0,3,7,1,15c1,15-2,24-20,31c-11,4-16,7-16,7s-7-28,6-55c5.3-10.9,10.1-19,20-18c7.1,1,9,9,9,9 V23.1z')
	}

	100% {
		d: path('M37.9,26c0,0,3,7,1,15c1,15-2,28-20,35c-11,4-16,7-16,7s-7-26,6-53c5.3-10.9,10-19,20-24c6.9-3.4,9,9,9,9V26z')
	}
		
}

